@font-face
{
    font-family: nexzhu;
    src: url("@/assets/fonts/blockdole.woff2");

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    font-family: nexzhu;
}

hr {
    border-width: 1px;
    border-style: solid;
    border-color: #EEF2F5;
    margin:10px 0;
}

.line_center{
    display: flex;
    justify-content: center;
}
.vertical_center{
    display: flex;
    align-items: center;
}


.card_center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    flex-wrap: wrap;
}
.card{
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    /*margin: 16px 0;*/
    box-shadow: 2px 1px 12px 3px #eee;
}
.header{
    background: #fff;
    /*margin: 16px 0;*/
    box-shadow: 2px 1px 12px 3px #eee;
    position: fixed;
    height:72px;
    z-index: 1;
    left: 0;
    right: 0;
}
.fix_bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}


body {
    background: #F7F9FA url('@/assets/bg_img.png') repeat!important
}
.login{


}


